.qafield-question,
.qafield-answer-holder{
	width: 50%;
	float: left;
}
.qafield-answer-holder{
	position: relative;
}
.qafield-answer{
	opacity: 0;
	transition: 0.3s;
}
.qafield-reveal{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}